.timeframe {
    margin-top: 8px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 9999px;
    position: relative;

    .timeframe-background {
        position: absolute;
        top: 12px;
        left: 20px;
        height: 8px;
        width: 90%;
        background: linear-gradient(90deg, #79E9AF 0%, rgba(255, 255, 255, 0) 100%);
        background-size: 25%;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .left-section {
        width: 25%;
        position: relative;

        .arrow-up {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 8px 12px;
        }
    }

    .center-section {
        width: 55%;
        position: relative;
        display: flex;
        justify-content: center;

        .progress-center {
            transition: width 0.3s ease-in-out;
            position: relative;
        }

        .stadium {
            position: absolute;
            top: -6px;
            left: -22px;
            background-color: #D3E1F8;
            padding: 10px;
            border-radius: 50%;
        }

        .stadium-background {
            background-image: url("../../../../assets/icons/stadium_line.png");
            background-color: #A6C3F1;
            background-repeat: repeat;
            background-size: 6px;
            height: 32px;
            border-radius: 22px;
        }

        .tool-tip {
            position: absolute;
            top: 0px;
            left: 34px;
            max-height: 32px;
            min-width: 90px;
            max-width: 90px;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            font-weight: 500;
            padding: 0px 4px;
            text-align: center;
            background-color: #ffffff;
            border-radius: 16px;
            color: #1414144D;

            span {
                color: #141414;
            }
        }

        .tool-tip.outer{
            top: 50px;
            left: 0px;
            max-height: 42px;
            padding: 5px 9px;
        }
    }

    .right-section {
        width: 20%;
        position: relative;

        .arrow-down {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 8px 12px;
        }
    }
}